
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
}

h1,h2,h3,h4 {
  font-family: 'helvetica', 'arial', 'sans';
  }


a {
  color: #000;
}

.header {
  background: #fff;
  color: #000;
  padding: 3%;
    height: 30px;
    line-height: 11px;
}

.header h1 {
  font-size: 1rem;
  }

/*.header-top {display: block;}*/
.header-top #left {display: inline-block; float: left;}
.header-top #right {display: inline-block; float: right;}


.profile {display: inline-block; overflow: auto; margin: 0 auto;}

.profile img {text-align: center; vertical-align: middle; margin: 10px 0 auto 60px; }

.profile p {display: inline; width: 500px; height: 68px; float: right; margin-left:  30px; padding: 13.5px; background-color: #f2f2f2; vertical-align: middle; line-height: 22px; border-radius: 20px; font-weight: 100; font-size:0.9rem;}

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  width: 180px;
  height: 180px;
  position: relative;
  top: 20px;
  left: 50px;  
}

.assignment a {
    color: #000;
    text-decoration: none;
    width: 100%;
}

.assignment a:hover {
  background: #F06;
  color: #F06;
  text-decoration: none;
}


.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

#space-5 {height: 5vh !important;
        width: 100vw;
        overflow-x: none;}

.column {
  float: left;
  width: 33.3%;
  padding: 0px;
/*  padding-top: 33.3%;*/
}

.column img {
    width: 100%;
    height: auto;
    top: 0;
    display: block;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.work {
/*    margin: 0 10%;*/
}

.work h1 {font-size: 2rem;}

.work-header {text-align: center; height: 100vh;}
.work-header img {text-align: center; width: 40%;}


#down {
    position: absolute;
    bottom: 0%;
    left: 47%;
    height: 10%;
}

#down:hover {
    cursor: pointer;
}


.process {
    margin: 10%;
    height: 100vh;
/*    background: grey;*/
}
    
.process img {width: 50%; margin-top: 10%;}
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
/*    padding-top: 100%;*/
  }
}

html {
  scroll-behavior: smooth;
}